//variables
$moon-white: #FFEFD8;
$sky-blue: #195B8C;
$dark-blue: #082244;


* {
  font-family: 'Cinzel', serif;
  margin: 0;
  padding: 0;
}


body {
  background-image: url('../images/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

nav {
  color: $moon-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  h1 {
    font-size: 7vh;
    justify-content: flex-end;
    margin-right: 3%;
  }
  button {
    justify-content: flex-start;
    background: none;
    border: none;
    margin-left: 3%
  }
}


form {
  background: #262626;
  opacity: .77;
  padding: 10px;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 300px;
  height: 400px;
    h2 {
      margin-top:20px;
      font-size: 55px;
      color:$moon-white;
      margin-bottom: 20px;
    }
    input {
      border: 1px solid;
      background: none;
      opacity: 1;
      text-align: center;
      font-size: 1em;
      outline: none;
      padding: 10px;
      margin: 20px;
      color: $moon-white;
      height: 30px;
      width: 70%;
      border-radius: 40px;
      transition: 0.2s ease-in;
    }
}




form input[type="submit"] {
    border: 2px solid $sky-blue;
    box-sizing: border-box;
    height: 50px;
    width: 40%;
    cursor: pointer;
}

form input[type="text"]:focus {
  width: 80%;
  border: 2px solid $sky-blue;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background: $sky-blue;
  border: 1px $moon-white solid;
  color: $moon-white;
}

.hotel-title-words {
  font-size: 3vh;
}

.user-dashboard,
.manager-dashboard,
.booking-display {
  // border: 3px solid $moon-white;
  width: 1000px;
  height: 500px;;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.login-error {
  color: red;
}

.user-welcome-box {
  background: $dark-blue;
  color: $moon-white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-name,
.money-spent {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.daily-hotel-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1%;
  padding: 1%, 3%;
}

.my-bookings,
.bookings-today {
  background: $dark-blue;
  color: $moon-white;
  text-align: center;
  border: 1px $moon-white solid;
  width: 1000px;
  height: 500px;
  overflow: scroll;
    span {
      font-weight: 700;
      font-size: 2em;
    }
}

.hide {
  display: none;
}

.booking-title {
  color: $moon-white;
  padding: 2%;
  text-align: center;

}

.booking {
  border-bottom: 2px $moon-white solid;
  padding-bottom: 2px;
  margin-top: 2%;
  font-size: .7em;
}

.book-room-button-container {
  display: flex;
  justify-content: center;
}

.book-a-room-button {
  border: 2px solid $moon-white;
  background-color: $sky-blue;
  color: $moon-white;
  font-size: 1.5em;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 1%;
  padding: .5% .5%;
  display: flex;
  justify-content: center;
  height: auto;
  width: 250px;
  cursor: pointer;
}

.book-room-menu {
  background-color: $dark-blue;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 500px;
}

.date-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   button {
     color: $moon-white;
     background-color: $dark-blue;
     margin: 3% 0;
     height: 30px;
     width: 130px;
     font-size: 1em;
     border-radius: 5px;
   }
}

.roomtype-menu{
  margin-top: 0;
  width: 250px;
  height: 90px;
  background-color: $sky-blue;
  color: $moon-white;
}

.roomtype-dropdown {
  margin-top: 0;
  width: 250px;
  background-color: $dark-blue;
  color: $moon-white;
  border: 1px solid $moon-white;
  border-radius: 5px;
  font-size: 1em;

}

.rooms-available {
  width: 100%;
  height: 1000px;
  overflow: scroll;
  display: flex;
  justify-content: center;
  color: $moon-white;
}

.filter-room-type-button {
  background-color: $dark-blue;
  color: $moon-white;
  height: 30px;
  width: 70px;
  font-size: 1em;
  border-radius: 5px;
  margin: 1%;
}

.book-room-button,
.cancel-booking-button {
  background-color: $dark-blue;
  color: $moon-white;
  height: 30px;
  width: 150px;
  font-weight: 700;
  font-size: 1em;
  border-radius: 5px;
  margin: 1%;
}
