//variables
$moon-white: #FFEFD8;
// $sky-blue:


* {
  font-family: 'Cinzel', serif;
}

nav {
  color: $moon-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
    h1 {
      font-size: 4vh;
      margin-right: 3%;
    }
    button {
      background: none;
      border: none;
    }
}



body {
  background-image: url('../images/Background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.hotel-title-words {
  font-size: 3vh;
}
